@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100 text-black font-sans relative;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}
body::before { 
  content: ""; 
  position: fixed; 
  top: 25px; 
  left: 25px; 
  right: 25px; 
  bottom: 25px; 
  border: 4px solid black; 
  pointer-events: none;
  z-index: 9999; }

body {
  font-family: 'Instrument Sans', sans-serif;
}

body, html {
  overflow: hidden;
  height: 100%;
}
